html {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}

body {
	background-image: url("backgroundPattern.png");
	background-size: 30%;
	margin:0;
	padding:0;
	padding-top:000px;
	width:100%;
	height:calc(100%-00px);
}

#container {
	width:var(--scale);
	margin:auto;
	margin-top:375px;
	transform-style: preserve-3d;
	transition: all 0.5s;
	perspective-origin: center;
}

.dir1 {
	transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.dir2 {
	transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
}

.dir3 {
	transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
}

.dir4 {
	transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
}

.dir5 {
	transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
}

.dir6 {
	transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
}


.face {
	width:var(--scale);
	height:var(--scale);
	position:absolute;
	border:2px solid black;
}

p {
	font-size:200px;
	font-family:sans-serif;
	text-align:center;
	margin-top:90px;
	color:white;
}

.face-1{
	background-color:red;
	transform: translateY(calc(-1*var(--scale)/2))rotateY(0deg)translateZ(calc(var(--scale2)/2));
}

.face-2{
	background-color:blue;
	transform: translateY(calc(-1*var(--scale)/2))rotateY(90deg)translateZ(calc(var(--scale2)/2));
}

.face-3{
	background-color:yellow;
	transform: translateY(calc(-1*var(--scale)/2))rotateY(180deg)translateZ(calc(var(--scale2)/2));
}

.face-4{
	background-color:green;
	transform: translateY(calc(-1*var(--scale)/2))rotateY(270deg)translateZ(calc(var(--scale2)/2));
}

.face-5{
	background-color:purple;
	transform: translateY(calc(-1*var(--scale)/2))rotateX(90deg)translateZ(calc(var(--scale2)/2));
}

.face-6{
	background-color:pink;
	transform: translateY(calc(-1*var(--scale)/2))rotateX(270deg)translateZ(calc(var(--scale2)/2));
}


//fade in
#fade {
	background-color:white;
	width:100%;
	height:100%;
	-webkit-transition : all 2s ease-in;
    -moz-transition : all 2s ease-in;
    -o-transition : all 2s ease-in;
    transition : all 2s ease-in;
}

.normal {
    opacity:1;
}

.faded {
	opacity:0;
	display:hidden;
}

*{
	--scale: 400px;
	--scale2: 402px;
}