html {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}

body {
	background-image: url("backgroundPattern.png");
	background-size: 30%;
	margin:0;
	padding:0;
	padding-top:000px;
	width:100%;
	height:calc(100%-00px);
}

/*
########  #### ######## 
##     ##  ##  ##       
##     ##  ##  ##       
##     ##  ##  ######   
##     ##  ##  ##       
##     ##  ##  ##       
########  #### ######## 
*/

#dieContainer {
	width:var(--dieScale);
	margin:auto;
	margin-top:375px;
	transform-style: preserve-3d;
	transition: all 0.4s;
	perspective-origin: center;
}

a {
	text-decoration: none;
}


.die-face {
	width:var(--dieScale);
	height:var(--dieScale);
	position:absolute;
	border:4px solid black;
}

.die-face p {
	font-size:200px;
	font-family:sans-serif;
	text-align:center;
	margin-top:90px;
	color:white;
}

.die-face-1{
	background-color:red;
	transform: translateY(calc(-1*var(--dieScale)/2))rotateY(0deg)translateZ(calc(var(--dieScale2)/2));
}

.die-face-2{
	background-color:blue;
	transform: translateY(calc(-1*var(--dieScale)/2))rotateY(90deg)translateZ(calc(var(--dieScale2)/2));
}

.die-face-3{
	background-color:yellow;
	transform: translateY(calc(-1*var(--dieScale)/2))rotateY(180deg)translateZ(calc(var(--dieScale2)/2));
}

.die-face-4{
	background-color:green;
	transform: translateY(calc(-1*var(--dieScale)/2))rotateY(270deg)translateZ(calc(var(--dieScale2)/2));
}

.die-face-5{
	background-color:purple;
	transform: translateY(calc(-1*var(--dieScale)/2))rotateX(90deg)translateZ(calc(var(--dieScale2)/2));
}

.die-face-6{
	background-color:pink;
	transform: translateY(calc(-1*var(--dieScale)/2))rotateX(270deg)translateZ(calc(var(--dieScale2)/2));
}
/*
 #######   ######  ########    ###    
##     ## ##    ##    ##      ## ##   
##     ## ##          ##     ##   ##  
##     ## ##          ##    ##     ## 
##     ## ##          ##    ######### 
##     ## ##    ##    ##    ##     ## 
 #######   ######     ##    ##     ## 
*/
.octa-face p {
	font-size:200px;
	font-family:sans-serif;
	text-align:center;
	margin-top:50px;
	color:white;
}

#octaContainer {
	width:var(--octaScale);
	margin:auto;
	margin-top:425px;
	transform-style: preserve-3d;
	transition: all 0.4s;
	perspective-origin: center;
}

.octa-face {
	width:var(--octaScale);
	height:var(--octaScale);
	position:absolute;
	border:4px solid black;
}

.octa-face-1{
	background-color:red;
	transform: translateY(calc(-1*var(--octaScale)/2))rotateY(0deg)translateZ(calc(var(--octaScale2)*1.207106781));
}

.octa-face-2{
	background-color:blue;
	transform: translateY(calc(-1*var(--octaScale)/2))rotateY(45deg)translateZ(calc(var(--octaScale2)*1.207106781));
}

.octa-face-3{
	background-color:yellow;
	transform: translateY(calc(-1*var(--octaScale)/2))rotateY(90deg)translateZ(calc(var(--octaScale2)*1.207106781));
}

.octa-face-4{
	background-color:green;
	transform: translateY(calc(-1*var(--octaScale)/2))rotateY(135deg)translateZ(calc(var(--octaScale2)*1.207106781));
}

.octa-face-5{
	background-color:purple;
	transform: translateY(calc(-1*var(--octaScale)/2))rotateY(180deg)translateZ(calc(var(--octaScale2)*1.207106781));
}

.octa-face-6{
	background-color:pink;
	transform: translateY(calc(-1*var(--octaScale)/2))rotateY(-135deg)translateZ(calc(var(--octaScale2)*1.207106781));
}

.octa-face-7{
	background-color:orange;
	transform: translateY(calc(-1*var(--octaScale)/2))rotateY(-90deg)translateZ(calc(var(--octaScale2)*1.207106781));
}

.octa-face-8{
	background-color:brown;
	transform: translateY(calc(-1*var(--octaScale)/2))rotateY(-45deg)translateZ(calc(var(--octaScale2)*1.207106781));
}

/*           
######## ##       #### ########  
##       ##        ##  ##     ## 
##       ##        ##  ##     ## 
######   ##        ##  ########  
##       ##        ##  ##        
##       ##        ##  ##        
##       ######## #### ##  
*/		

.flip-face p {
	font-size:200px;
	font-family:sans-serif;
	text-align:center;
	margin-top:90px;
	color:white;
}

#flipContainer {
	width:calc(var(--flipScale)*1.3);
	margin:auto;
	margin-top:275px;
	transform-style: preserve-3d;
	transition: all ease-in-out 0.6s;
	perspective-origin: center;
}

.flip-face {
	width:calc(var(--flipScale)*1.3);
	height:var(--flipScale);
	position:absolute;
	border:4px solid black;
}

.flip-face-1{
	background-color:red;
	transform: translateY(calc(-1*var(--flipScale)/2))rotateY(000deg)translateZ(0.1px);
}

.flip-face-2{
	background-color:blue;
	transform: translateY(calc(-1*var(--flipScale)/2))rotateY(180deg)translateZ(0.1px);
}

.flip-face-3{
	background-color:yellow;
	transform: translateY(calc(-1*var(--flipScale)/2))rotateY(360deg)translateZ(0.1px);
}

.flip-face-4{
	background-color:green;
	transform: translateY(calc(-1*var(--flipScale)/2))rotateY(540deg)translateZ(0.1px);
}
/*
 #######    ######   ##     ##  ########   
##     ##  ##    ##  ##     ##  ##         
##     ##  ##        ##     ##  ##         
##     ##  ##        #########  ######     
##     ##  ##        ##     ##  ##         
##     ##  ##    ##  ##     ##  ##         
 #######    ######   ##     ##  ########   
*/
.oche1 p {
	font-size:150px;
	font-family:sans-serif;
	text-align:center;
	margin-top:125px;
	margin-left:-40px;
	color:white;
}

.oche2 p {
	font-size:150px;
	font-family:sans-serif;
	text-align:center;
	margin-top:125px;
	margin-left:40px;
	color:white;
	transform:rotateZ(180deg);
}

#ocheContainer {
	width:var(--ocheScale);
	margin:auto;
	margin-top:325px;
	transform-style: preserve-3d;
	transition: all 0.4s;
	perspective-origin: center;
}

.oche-face {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 calc(var(--ocheScale)/2) calc(var(--ocheScale)*0.866) calc(var(--ocheScale)/2);
	position:absolute;
}

.oche-face-1{
	border-color: transparent transparent red;
	transform: 
		translateY(calc(-1*var(--ocheScale)/2))
		rotateY(   0deg)
		rotateX(  35deg)
		translateZ(calc(var(--ocheScale)/3.3));
}

.oche-face-2{
	border-color: transparent transparent blue;
	transform: 
		translateY(calc(-1*var(--ocheScale)/2))
		rotateY(  90deg)
		rotateX(  35deg)
		translateZ(calc(var(--ocheScale)/3.3));
}

.oche-face-3{
	border-color: transparent transparent yellow;
	transform: 
		translateY(calc(-1*var(--ocheScale)/2))
		rotateY( 180deg)
		rotateX(  35deg)
		translateZ(calc(var(--ocheScale)/3.3));
}

.oche-face-4{
	border-color: transparent transparent green;
	transform: 
		translateY(calc(-1*var(--ocheScale)/2))
		rotateY( -90deg)
		rotateX(  35deg)
		translateZ(calc(var(--ocheScale)/3.3));
}

.oche-face-5{
	border-color: transparent transparent purple;
	transform: 
		rotateZ(180deg)
		translateY(calc(1*var(--ocheScale)/7.1))
		rotateY(   0deg)
		rotateX(  35deg)
		translateZ(calc(var(--ocheScale)/3.3));
}

.oche-face-6{
	border-color: transparent transparent pink;
	transform: 
		rotateZ(180deg)
		translateY(calc(1*var(--ocheScale)/7.1))
		rotateY(  90deg)
		rotateX(  35deg)
		translateZ(calc(var(--ocheScale)/3.3));
}

.oche-face-7{
	border-color: transparent transparent orange;
	transform: 
		rotateZ(180deg)
		translateY(calc(1*var(--ocheScale)/7.1))
		rotateY( 180deg)
		rotateX(  35deg)
		translateZ(calc(var(--ocheScale)/3.3));
}

.oche-face-8{
	border-color: transparent transparent brown;
	transform: 
		rotateZ(180deg)
		translateY(calc(1*var(--ocheScale)/7.1))
		rotateY( -90deg)
		rotateX(  35deg)
		translateZ(calc(var(--ocheScale)/3.3));
}

//fade in
#fade {
	background-color:white;
	width:100%;
	height:100%;
	-webkit-transition : all 2s ease-in;
    -moz-transition : all 2s ease-in;
    -o-transition : all 2s ease-in;
    transition : all 2s ease-in;
}

.normal {
    opacity:1;
}

.faded {
	opacity:0;
	display:hidden;
}

*{
	--dieScale:   400px;
	--dieScale2:  406px;
	--octaScale:  300px;
	--octaScale2: 305px;
	--flipScale:  400px;
	--ocheScale:  400px;
}